@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply focus:ring-4 focus:ring-white focus:outline-none focus:ring-opacity-50;
  }

  body {
    @apply bg-bg text-white;
    font-family: 'Poppins';
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('./assets/font/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    src: url('./assets/font/Poppins-Bold.ttf') format('truetype');
  }
}

@layer components {
  /* Buton, Input and Select Base styles */
  .bis_base {
    @apply flex items-center w-full font-bold rounded-[0.625rem] text-lg md:text-2xl cursor-pointer h-[45px] md:h-[60px] transition-colors bg-primary hover:bg-primary-dark active:bg-primary-dark focus:bg-primary-dark text-left px-[15px] md:px-[30px];
  }

  .disabled {
    @apply opacity-50;
    pointer-events: none;
  }
}
