@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply focus:ring-4 focus:ring-white focus:outline-none focus:ring-opacity-50;
  }

  body {
    @apply bg-bg text-white;
    font-family: 'Poppins';
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('./assets/font/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    src: url('./assets/font/Poppins-Bold.ttf') format('truetype');
  }
}
